table.price-matrix {
    table-layout: fixed;
}

.price-matrix select {
    padding: 0;
    height: 24px;
}

.price-matrix > thead > tr > td,
.price-matrix > tbody > tr > td,
.price-matrix > tfoot > tr > td {
    padding: 3px;
}

.price-matrix > thead > tr > td {
    width: 72px;
}

.price-matrix > tbody > tr > td input[type="text"] {
    height: 30px;
    max-width: 70px;
    padding: 0;
    margin: 0 auto;
}
