{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-price-matrix" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <center>
      {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}
      {% if errors %}
        {% for error in errors %}
          <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endfor %}
      {% endif %}
    </center>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit_module_settings }}</h3></div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-price-matrix" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="horizontal-option">{{ entry_horizontal_option }}</label>
            <div class="col-sm-6">
              <select name="x_axis_option_id" id="horizontal-option" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option in select_options %}
                <option value="{{ option.option_id }}" {{ option.option_id == x_axis_option_id ? 'selected="selected"' : '' }}>{{ option.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="vertical-option">{{ entry_vertical_option }}</label>
            <div class="col-sm-6">
              <select name="y_axis_option_id" id="vertical-option" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option in select_options %}
                <option value="{{ option.option_id }}" {{ option.option_id == y_axis_option_id ? 'selected="selected"' : '' }}>{{ option.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-option-sort-order">{{ entry_option_sort_order }}</label>
            <div class="col-sm-6">
              <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="0" id="input-option-sort-order" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-6">
              <select name="module_price_matrix_status" id="input-status" class="form-control">
                {% if module_price_matrix_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" data-toggle="tooltip" class="btn btn-primary submit-btn">
              <i class="fa fa-floppy-o fa-lg"></i> &nbsp; {{ save_settings }}
            </button>
          </div>
        </form>
      </div> <!-- End  class="panel-body" -->
    </div><!-- End  class="panel panel-default" -->
  </div><!-- End  class="container-fluid" -->
</div>
{{ footer }}
